{% extends 'base.html.twig' %}
{% block title %}Vos réservation passées et à venir{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Mes réservations</h1>
        <div class="alert alert-info mt-3">
            <p>Retrouvez ci-dessous toutes vos réservations passées et à venir</p>
        </div>
        {# grâce à app.user, on récup les réservations de l'utilisateur connecté donc pas besoin de fournir dans le controller le USER #}
        {% for booking in app.user.bookings %}
            <div class="row mt-5">
                <div class="col-4">
                    <img src="{{booking.ad.coverImage}}" alt="Photo de l'annonce {{booking.ad.title}}" class="img-fluid">
                    <div class="mt-3">
                        {# partie commentaire et notation #}
                    </div>
                </div>
                <div class="col-8">
                    <h4>{{booking.ad.title}}</h4>
                    <p>
                        Réservation <strong>n°{{booking.id}}</strong><br>
                        du {{booking.startDate | date('d/m/Y')}} au {{booking.endDate | date('d/m/Y')}} 
                        ({{ booking.amount | number_format(2,',',' ')}} &euro;)
                    </p>
                    <a href="{{path('booking_show',{'id':booking.id})}}" class="btn btn-info">Plus d'informations</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}